<!-- start custom head snippets -->
<script id="mcjs">
    function showMailingPopUp() {

        !function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/54f5397178923253fd9f77520/18651e49530901ad2cb305042.js");
        //unsetting the cookie
        document.cookie = "MCPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.cookie = "MCPopupSubscribed=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }
</script>


<!-- Dark Mode -->
<link rel="stylesheet" href="/assets/css/main-dark.css" id="theme-style" disabled>
<script>
  const toggleBtn = document.getElementById('theme-toggle');
  const themeStyle = document.getElementById('theme-style');
  const currentTheme = localStorage.getItem('theme');

  if (currentTheme === 'dark') {
    themeStyle.removeAttribute('disabled');
  }

  // Wait for DOM content to load because the button is in the body
  document.addEventListener("DOMContentLoaded", function() {
    const toggleBtn = document.getElementById('theme-toggle');
    if (toggleBtn) {
        toggleBtn.addEventListener('click', () => {
            if (themeStyle.disabled) {
            themeStyle.removeAttribute('disabled');
            localStorage.setItem('theme', 'dark');
            } else {
            themeStyle.setAttribute('disabled', 'true');
            localStorage.setItem('theme', 'light');
            }
        });
    }
  });
</script>

<script defer src="https://cloud.umami.is/script.js" data-website-id="427472ce-b8b2-4168-9cf1-dd4b46053e95"></script>
<!-- end custom head snippets -->