---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$gray: #7a8288 !default;
$dark-gray: mix(#000, $gray, 50%) !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;

$background-color: #fff !default;
$code-background-color: #fafafa !default;
$code-background-color-dark: $light-gray !default;
$text-color: $dark-gray !default;
$muted-text-color: mix(#fff, $text-color, 20%) !default;
$border-color: $lighter-gray !default;
$form-background-color: $lighter-gray !default;
$footer-background-color: $lighter-gray !default;




$base00: #273136;
$base01: #313d43;
$base02: #334447;
$base03: #566c76;
$base04: #b2ccd6;
$base05: #eeffff;
$base06: #eeffff;
$base07: #ffffff;
$base08: #fffc5b;
$base09: #f78c6c;
$base0a: #6bff77;
$base0b: #ffd258;
$base0c: #ff0077;
$base0d: #6a41ff;
$base0e: #00dbf8;
$base0f: #ff5370;
$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1400px !default;
$max-width: $x-large !default;

$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width:260px;
$right-sidebar-width-wide: 350px !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// copy styling of search toggle
.theme__toggle {
  float: right;
  height: $nav-height;
  line-height: $nav-height; 
  padding: 0 0.75rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border: 0;
  background-color: transparent;
  color: $masthead-link-color;
  cursor: pointer;

  &:hover {
    color: $masthead-link-color-hover;
  }
}

.sidebar {
  opacity: 1 !important;
}
.archive__subtitle{
  color: #000;
}
.page__content {
    p,
    li,
    dl {
      font-size: $type-size-5 !important;
    }

    img{
      padding-top: 2em;
      padding-bottom: 2em;
    }
}
.greedy-nav a {
  color: #000000;
}

.site-title {
  font-weight: 600;
}

.toc__menu a {
  font-weight: 500;
  color: #000;
}
h1, h2, h3, h4, h5, h6,
.author__content a {
   font-weight: 550;
   color: #000;
}

.archive a {
  color: #212b2d;
  font-weight: 500;
  text-decoration: none;
  &:hover {
    color: #015477;
    text-decoration: underline;
  }
  &:visited {
    color: #38484b;
    &:hover {
      color: #015477;
      text-decoration: underline;
    }
  }
}
.page {
    @include breakpoint($large) {
      float: right;
      width: calc(100% - #{$right-sidebar-width-narrow});
      padding-right: $right-sidebar-width-narrow - 20;
    }
  
    @include breakpoint($x-large) {
      width: calc(100% - #{$right-sidebar-width});
      padding-right: $right-sidebar-width - 50 !important;
    }
}

mark {
  font-weight: bold;
  font-style: italic;
  display: inline;
  padding: .2em 0;
  background: #84ebf457;
  box-shadow: .2em 0 0 #7fe8f236, -.2em 0 0 #7fe7f14a;
}